#game-header{
    display: flex;
    z-index: 10;

    
    position: absolute;
    top: 0;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    .player-ui{
        display: flex;
        .player-pic{
            box-sizing: border-box;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            margin-right: 10px;
            margin-left: 10px;
        }
        .player-name{
            font-size: 30px;
            margin-right: 10px;
            margin-left: 10px;
            text-transform: uppercase;
            color: white;
        }
        .player-stats{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            margin-left: 10px;
        }
        .player-health{
            box-sizing: border-box;
            height: 30px;
            img{
                box-sizing: border-box;
                height: 25px;
                width: 25px;
                margin-right: 5px;
            }
        }
        .attacks-left{
            box-sizing: border-box;
            height: 30px;
            img{
                box-sizing: border-box;
                height: 25px;
                width: 25px;
                margin-right: 5px;
            }
        }
    
    }
    .player-ui:nth-child(2){
        flex-direction: row-reverse;
    }
}

#game-controls-footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    bottom: 0px;
    margin-bottom: 5px;
    z-index: 20px;
    left: 0px;
    margin-left: 100px;
    box-sizing: border-box;
    background-color: #2C2F33;
    border-radius: 20px;
    .game-controls-key{
        box-sizing: border-box;
        margin-right: 30px;
        margin-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50px;
        img{
            box-sizing: border-box;
            width: 64px;
            height: 64px;
        }
        h5{
            font-size: 12px;
            margin: 0;
            margin-top: 10px;
            color: white;
        }
    }
}

#root{
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    background-image: url('../../images/rock-paper-scissors.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #start-screen{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        #start-container{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                color: white;
                font-size: 50px;
                font-weight: bold;
                text-transform: uppercase;
            }
            button{
                color: white;
                background-color: #7289DA;
                border-radius: 25px;
                font-size: 16px;
                padding: 8px 0 8px 0;
                width: 100px;
                font-weight: bold;
                outline: none;
                border: none;
            }
            button:hover{
                border: #2C2F33 solid 1px;
                background-color: rgba(103,123,196,1);
            }
            button:focus{
                outline: none;
                background-color: #5b7eae;
                
            }
        }



        #links-container{
            background-color: white;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            top: 0px;
            box-sizing: border-box;
            margin-top: 10px;
            margin-right: 10px;
            padding: 10px;
            align-items: center;
            h1{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bolder;
                margin: 0;
            }

            #links-list{
                display: flex;
                box-sizing: border-box;
                img{
                    box-sizing: border-box;
    
                    height: 30px;
                    margin-left: 20px;
                    margin-right: 20px;
                    transition: .2s;
                }
                img:hover{
                    
                    transform: scale(1.1);
                    z-index: 5;
                    -webkit-transition: transform .5s ease-in-out;
                    -moz-transition:transform .5s ease-in-out;
                    -ms-transition:transform .5s ease-in-out;
                }
            }

            
        }
    }
    #game-over-screen{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        #game-over-container{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                color: white;
                font-size: 50px;
                font-weight: bold;
                text-transform: uppercase;
            }
            button{
                color: white;
                background-color: #7289DA;
                border-radius: 25px;
                font-size: 16px;
                padding: 8px 0 8px 0;
                width: 100px;
                font-weight: bold;
                outline: none;
                border: none;
            }
            button:hover{
                border: #2C2F33 solid 1px;
                background-color: rgba(103,123,196,1);
            }
            button:focus{
                outline: none;
                background-color: #5b7eae;
                
            }
        }
    }
    #loading-screen{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        #loading-container{
            color: white;
            font-size: 25px;

        }
    }

    #loading-screen{
        animation: transitionToLoading 0.75s;
        transition: .75s;
    }


    @keyframes transitionToLoading {
        from{
            opacity: 0;
            transform: scale(0,0);

        }
        to{
            opacity: 1;
            transform: scale(1,1);

        }
    }
    @keyframes transitionToGame {
        from{
            opacity: 1;
            transform: scale(1,1);

        }
        to{
            opacity: 0;
            transform: scale(0,0);

        }
    }
}